nextflow.enable.dsl = 2

profiles {
  docker {
    process {
      executor = 'local'
      container = 'python:3.10-slim'
    }
  }
}


params {
  holy_script_url = "https://www.sacred-texts.com/neu/mphg/mphg.htm#Scene%2035"
  file_prefix = "holy_script"
  min_words = 20
  quote_file_name="quote"
}
